* {
    font-size: 10px;
    background-color: #c9d4b8;
}

p {
    font-size: 2rem;
}

#pixel {
    font-size: 32px;
}

blockquote {
    font-size: 3rem;
}

.blockquote-footer {
    font-size: 2rem;
}

dt {
    font-size: 16px;
}

dd {
    font-size: 16px;
}

kbd {
    background-color: rgb(88, 23, 134);
}

pre {
    font-size: 16px;
}

.lead {
    font-size: 26px;
}

a {
    font-size: 19px;
}

ul li {
    font-size: 19px;
}

